@import url("reset_eric_meyer.css");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    /* background-color: bisque; */
    font-family: 'Cormorant Garamond', serif;
}

#conteneur {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

header {
    /* background-color: orange; */
    height: 250px;
    justify-content: center;
}
